
@import './common.scss';
body{
    background: $page-background
}

.login-wrap{
    position: absolute;
    height: 100%;
    width: 100%;
    @include flex-center;
    .login-form{
        width: 280px;
        min-height:300px;
        .layui-form{
            margin-top: 20px;
            .layui-input{
                background: #fff;
            }
            .layui-btn{
                background-color:$theme-color; 
            }
        } 
    }
}
.container{
    position: absolute;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.browser-tip{
    background: #333;
    color: #fff;
    padding: 10px 30px;
    text-align: center;
    position: relative;
    a{
        color: $theme-color;
        text-decoration: underline;
    }
    i{
        position: absolute;
        right: 20px;
        top: 10px;
        cursor: pointer;
    }
}
.top-wrap{
    background: $theme-color;
    height: 60px;
    color: #fff;
    display: flex;
    .logo{
        @include flex-center;
        width: 200px;
        height: 100%;
    }
    .nav{
        flex: 1;
        padding: 0 40px;
        display: flex;
        a{
            color: #fff;
            display: flex;
            flex-direction: column;
            @include flex-center;
            padding: 0 20px;
            margin: 0 10px;
            i{
                font-size: 20px;
                margin-bottom: 5px;
            }
            &:hover,
            &.active{
                background-color: rgba(255,255,255,0.2)
            }
        }
    }
}
.body-wrap{
    display: flex;
    flex: 1;
    .left-wrap{
        background: #fff;
        border-right: 1px solid $default-border-color;
        width: 200px;
        overflow: hidden;
        transition: width 0.5s ease-in-out;
        flex-shrink:0;
        &.shrink{
            width:50px;
            .layui-nav-item{
                width:50px;
            }
            a span{
                display: none
            }
        }
        .layui-nav{
            background: #fff;
            color: $default-text-color;
            .layui-nav-item{
                background-color: #fff!important;
                border-bottom: 1px solid $default-border-color;
                &.active{
                    position: relative;
                    a{
                        color: $theme-color!important
                    }
                    &::before{
                        content: "";
                        height: 100%;
                        width: 5px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        background:$theme-color
                    }
                    
                }
                dl{
                    background-color: #fff!important;
                }
                dd{
                    border-top: 1px solid $default-border-color;
                    padding-left: 20px;
                }
                a{
                    color: $default-text-color!important;
                    i{
                        margin-right: 10px
                    }
                    &:hover{
                        background-color: #fff;
                        color: $theme-color!important
                    }
                }
            }
            .layui-nav-bar{
                background-color:$theme-color
            }
        }
    }
    .container-wrap{
        flex: 1;
        overflow: hidden;
        .breadcrumb-bar{
            background-color: #fff;
            border-bottom:1px solid $default-border-color;
            height: 45px;
            display: flex;
            .collapse-button{
                width: 45px;
                height: 100%;
                border-right: 1px solid $default-border-color;
                cursor: pointer;
                color: $default-text-color;
                @include flex-center;
                &:hover{
                    color:$theme-color
                }
            }
            .breadcrumb-wrap{
                display: flex;
                align-items: center;
                padding: 0 20px;
            }
        }
        .main-wrap{
            padding: 20px;
            box-sizing: border-box;
        }
    }
}
.panel{
    background: #fff;
    border:1px solid $default-border-color;
    margin-bottom: 20px;
    .panel-title{
        padding: 10px;
        border-bottom: 1px solid $default-border-color;
        small{
            font-size: 14px;
            margin-left: 10px;
        }
        .panel-button{
            float: right;
            color: $sec-text-color;
            font-size: 14px;
            cursor: pointer;
            &:hover{
                color: $default-text-color;
            }
        }
    }
    .panel-body{
        padding: 20px 10px;
        &.flex{
            display: flex;
        }
        span+span{
            margin-left: 20px;
        }
        .card{
            border-radius: 3px;
            padding: 20px;
            color: #fff;
            flex: 1;
            &+.card{
                margin-left: 10px;
            }
            @mixin icon-bg {
                font-family: "iconfont" !important;
                font-size: 50px;
                font-style: normal;
                -webkit-font-smoothing: antialiased;
                position: absolute;
                right: 30px;
                top: 50%;
                transform: translateY(-50%);
                opacity: 0.6
            }
            &.color-1{
                background: $assist-color1;
                position: relative;
                &::before{
                    @include icon-bg;
                    content: "\e634";
                }
            }
            &.color-2{
                background: $assist-color2;
                position: relative;
                &::before{
                    @include icon-bg;
                    content: "\e711";
                }
            }
            &.color-3{
                background: $assist-color3;
                position: relative;
                &::before{
                    @include icon-bg;
                    content: "\e600";
                }
            }
            .big{
                font-size: 30px;
                margin: 15px 0
            }
            .footer{
                display: flex;
                justify-content:space-between;
            }
        }
    }
}
.spec-check-box{
    border: 1px solid $default-border-color;
    .row{
        padding: 5px 0;
        .row-label{
            display: inline-block;
            min-width: 70px;
            text-align: right;
            margin-right: 10px;
        }
    }
}
.pro-color{
    color: $pro-text-color
}
.gray-color{
    color: $sec-text-color
}
.clear-margin{
    margin: 0!important
}
.text-16{
    font-size: 16px;
}
.white-bg{
    background: #fff
}
.card-wrap{
    background: #fff;
    border: 1px solid $default-border-color
}